:root {
  --text-color: #c8d0d4;
  --field-color: #d9d9d9;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-image: url("./images/background.jpg");
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #c8d0d4;
  overflow: hidden;
}

.parameters {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  gap: 20px 42px;
  list-style: none;
  padding: 0;
}

.container {
  width: 1880px;
  padding: 20px;
  margin: 0 auto;
}

.input-field-text {
  width: 286px;
  height: 34px;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid white;
}

.option-select {
  width: 286px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid white;
}

.undo-parametr {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.button-borders .button-label {
  cursor: pointer;
}

.button-borders .button-label input[type="radio"] {
  display: none;
}

.button-borders .button-label span {
  font-size: 16px;
  position: relative;
  display: inline-block;
  user-select: none;
  transition: 0.1s;
  padding: 8px 12px;
  border-radius: 14px;
  border: 1px solid white;
  transition: 0.2s;
  user-select: none;
  overflow: hidden;
}

.button-borders .button-label span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.button-borders input[type="radio"]:checked ~ span {
  background-color: #d9d9d9;
  color: black;
}

.button-select-list {
  display: flex;
  gap: 12px;
}

.button-borders .button-label {
  cursor: pointer;
}

.button-borders .button-label input[type="radio"] {
  display: none;
}

.button-borders .button-label span {
  font-size: 16px;
  position: relative;
  display: inline-block;
  user-select: none;
  transition: 0.1s;
  padding: 8px 12px;
  border-radius: 14px;
  border: 1px solid #d9d9d9;
  transition: 0.2s;
  user-select: none;
  overflow: hidden;
}

.button-borders .button-label span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.button-select-list {
  display: flex;
  gap: 12px;
}

.button-borders input[type="radio"]:checked ~ span {
  background-color: #d9d9d9;
  color: black;
}

.price-calculation-btn {
  cursor: pointer;
  width: 302px;
  height: 86px;
  margin-top: 12px;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.25);
  background-size: 300px 100px;
  font-size: 28px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  gap: 160px;
}

.nereal-img {
  position: relative;
  text-align: center;
}

.motivation-img {
  display: block;
  margin-top: 40px;
}

.motivation-text {
  margin: 0;
  font-size: 128px;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 1000px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 3px black;
}

.inc {
  display: flex;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(19, 19, 19, 0.8);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-content {
  background-color: rgb(71, 71, 71);
  margin: auto;
  margin-top: 11%;
  color: white;
  padding: 20px;
  border: 1px solid rgb(75, 74, 74);
  border-radius: 10px;
  width: 70%;
  transform: scale(0);
  animation: zoomIn 0.8s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.closeBtn {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.price-check {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0;
  font-size: 19px;
  font-weight: 400;
}

.parametrs-check {
  border-bottom: 1px solid white;
  display: flex;
  gap: 60px;
}

.overall-check-price {
  font-weight: 600;
  font-size: 24px;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
